*
!*.*
!*/

*.exe
*.txt
*.so
*.o
*.json
*.pyc
*.sh
.env
Cargo.*
*/*.*.*

.vscode
.git
.cache
__pycache__
build
txt
test
debug
target
template
standard_functions
old
.idea

.clangd

main.rs
gen_compile_json.py
